/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    overflow:   auto;
}



.wrap-all {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.row::after {
    overflow: auto;
    clear: both;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}


.outer-wrap {
    width: 100%;
}

.inner-wrap {
    width: 80%;
    margin: 0 auto;
}



/* HEADER */


.region-header-col-1 {
    float: left;
    width: 30%;
    margin-right: 10px;
}

.region-header-col-2 {
    float: left;
    width: 60%;    
}


.outer-wrap-flash {
    padding: 10px;
}


.rm-submenu-button {
    display:    none;
}

.site-logo {
    display:    none;
}

.region-flash > img {
    max-width:  100%;
    margin:     0 auto;
}


.my-navbar{
    list-style-type: none;
    padding-top: 10px;
}

.my-navbar li {
    display: inline;
    padding: 2px;
}

.my-navbar li a{
    text-decoration: none;    
    padding: 10px;
    background-color:   #333;
    color: #fff;
    border-radius:  5px;
}


/* MAIN */

.inner-wrap-main {
    padding: 25px 0;
}



/* FOOTER */

.outer-wrap-footer {
    background-color: #333;
    color: #fff;
}

.region-footer {
    padding: 20px 10px;
}

.footer-column {
    width:  33%;
    float:  left;
    padding: 10px;
}

.site-footer {
    text-align:     center; 
    padding:    10px;
}