/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */


* {
    box-sizing: border-box;
}


html {
    overflow:   auto;
}




/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.outer-wrap-flash {
    padding: 10px;
}

.region-header {
    height:     100%;
    margin: 10px;
}

.rm-submenu-button {
    display:    none;
}

.site-logo {
    display:    none;
}

.region-flash > img {
    max-width:  100%;
    margin:     0 auto;
}

.rm-navbar {
    background-color:   #ddd;
    margin-bottom:  10px;
}

.rm-navbar li {
    list-style:     none;
    float:  left;
    margin-right:   5px;
    margin-bottom:  5px;
}

.rm-navbar li a{
    text-decoration: none;    
    padding: 10px;
    background-color:   #333;
    color: #fff;
    border-radius:  5px;
}


.wrap-all {
    max-width:  920px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.region-main {
    padding:    10px;
}

/* FOOTER */

.region-footer {
    padding:    10px;
}

.footer-column {
    width:  33%;
    float:  left;
}

.site-footer {
    text-align:     center; 
    padding:    10px;
}